// Подключение шрифтов итд
@import url('https://fonts.googleapis.com/css?family=Lora:400,700|Muli:300,300i,400,400i,600,600i,700&display=swap');

body {
    font-family: $ff-sans;
    font-size: (14 / 16) * 1rem;
    background-color: gray(1);
    color: gray(5);
}

h1 {
    font-size: 70px;
    font-weight: 600;
}