@mixin mq($size) {
    @if map-has-key($breakpoints, $size) {

        $breakpoint: map-get($breakpoints, $size);

        @media only screen and (max-width: $breakpoint) {
            @content;
        }

    }@else if type-of($size) == number and not unitless($size) {

        @media only screen and (max-width: $size) {
            @content;
        }

    } @else {
        @error 'The mq needs to be puted a number with units or jey from $breakpoints. You entered #{$size}'
    }
    
};

@mixin translate {
    & {
        transition: 0.3s;
    }
    &:hover {
        transform: translateY(-20%);
    }
}