// Colors
$primary: #f72464;
$grays: (
    1: #fff,
    2: #c4c4c4,
    3: #919191,
    4: #838b8f,
    5: #505050,
    6: #041122,
    7: #000000

);

// Fonts
$ff-serif: 'Lora', serif;
$ff-sans: 'Muli', sans-serif;

$fw-light: 300;
$fw-normal: 400;
$fw-bold: 600;