%btn {
    display: inline-block;
    font-size: (12 / 16) * 1rem;
    font-weight: 600;
    text: {
        decoration: none;
        // transform: uppercase;
    }
}

.btn-action {
    @extend %btn;
    color: $accent;
    padding: 1.5rem 2.2rem;
    border: 3px solid $accent;
    transition: 0.4s ease-in-out;
    border-radius: (8 / 16) * 1rem;
    font-size: 20px;
    letter-spacing: (4 / 16) * 1rem;

    &:hover {
        transform: translateY(-16%);
        box-shadow: 0 0 25px 0 $accent;
        background-color: $accent;
        color: gray(1);
        
    }
}

.btn-info {
    @extend %btn;
    padding: 1rem 1.4rem;
    color: gray(1);
    background-color: $primary;
    border-radius: (5 / 16) * 1rem;

    @include translate;
}