.title {
    font-size: (46 / 16) * 1rem;
    font-weight: 500;
    font-family: $ff-serif;
    padding: (80 / 16) * 1rem 0;
    display: flex;
    justify-content: center;
    
    &__heading {
        position: relative;
        padding: 0 (60 / 16) * 1rem;
        text-transform: uppercase;

        &:before, &::after {
            content: '';
            display: block;
            position: absolute;
            width: (40 / 16) * 1rem;
            height: 2px;
            background-color: $accent;
            top: 60%;
            
        }

        &:before {
            left: 0;
        }

        &:after {
            right: 0!important;         
        }
    }
    
}